import * as firebase from 'firebase';

// Firebase configuration
const firebaseConfig = {
	apiKey: '',
	authDomain: '',
	databaseURL: '',
	projectId: '',
	storageBucket: '',
	messagingSenderId: '',
	appId: ''
};

// Initialize Firebase
firebase.initializeApp(firebaseConfig);

// Data base ref export
const databaseRef = firebase.database().ref();
export const todosRef = databaseRef.child('todos');

// Auth provider
export const firebaseAppAuth = firebase.auth();
export const providers = {
	googleProvider: new firebase.auth.GoogleAuthProvider()
};
